<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 g-0">
      <h1 class="text-center bg-primary text-white p-4">Buscador de ceps</h1>
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-12 col-lg-6 col-md-9">
      <input
        class="form-control form-control"
        type="text"
        placeholder="Digite cep(s) separados por vírgula..."
      />
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mx-auto d-grid">
      <button type="button" class="btn btn-primary">Buscar CEP</button>
    </div>
  </div>

  <div class="row justify-content-left pt-4">
    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem">
        <h5 class="card-header">Cep: 55555555</h5>

        <div class="card-body">
          <p class="card-text">Logradouro: enderçeo</p>
          <p class="card-text">Bairro: enderçeo</p>
          <p class="card-text">Localidade: enderçeo</p>
          <p class="card-text">UF: enderçeo</p>
        </div>
      </div>
    </div>
  </div>
</div>
